// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...



.site-header {
  background: #22201e; /* hvid baggrund */
  border-bottom: 1px solid #E6E1D8;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  max-width: 1100px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px; /* justér størrelsen på dit logo */
  display: block;
}

.menu a {
  margin-left: 18px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

.menu a:hover {
  color: #b1a79e; /* olivengrøn accent */
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
}